<div class="login" id="particles-js"></div>

<div class="container">
    <div class="login-container-wrapper clearfix">
        <div [ngStyle]="{'display' : rules ? 'block' : 'none'}">
            <div class="form-container">
               <div class="logo">CODE WAR</div>
               <ul>
                  <li>There will be 4 question each carrying 25 marks.</li>
                  <li>Top 20 teams will be qualified for Final Round.</li>
                  <li>You will have 2 hour time.</li>
                  <li>DO NOT CLICK REFRESH OR BACK BUTTON IN BROWSER</li>
               </ul>
               <button type="button" style="margin-top: 15px;" (click)="startTime()" class="btn btn-success"> Proceed </button>
            </div>
         </div>
        <div [ngStyle]="{'display' : rules ? 'none' : 'block'}">
            <div class="welcome">CODE WAR</div>
            <div class="message">{{msg}}</div>
            <form #loginForm="ngForm" method="post" class="form-horizontal login-form" (ngSubmit)="loginUser(loginForm)">
                <div class="form-group relative">
                    <input id="login_name" class="form-control input-lg" name="email" type="text" placeholder="Email" required ngModel>
                </div>
                <div class="form-group relative password">
                    <input id="login_password" class="form-control input-lg" type="text" name="phone" placeholder="Phone" required ngModel>
                </div>
                <div class="form-group">
                    <button id="button" type="submit" name="submit" class="btn btn-success btn-lg btn-block">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

