<div id="vantajs"></div>

<div id="login" class="form-container">
    <div class="logo">CODE WAR</div>
    <form action="" class="form-login">
            <input id="login-input-user" class="login__input" type="text" placeholder="Name"/>
            <input id="login-input-user" class="login__input" type="email" placeholder="Email"/>
            <input id="login-input-user" class="login__input" type="text" placeholder="Team"/>
            <input id="login-input-password" class="login__input" type="text" placeholder="Mobile"/>
            <button type="button" class="active">Signup</button>
            <button type="button" routerLink="/" class="active">Login</button>
        </form>
</div>

