@import url('https://fonts.googleapis.com/css?family=Audiowide|Bungee+Inline&display=swap');

#vantajs{
    position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

p{
    color: blanchedalmond; 
    
}

#login{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  min-height: 200px;
  transform: translate(-50%,-50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 30px 0 30px 0; 
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}

.form-container input[type=email], .form-container input[type=password], .form-container input[type=text]{
    margin:auto;
    font-size: 20px;
    display:block;
    width: 400px;
    margin-bottom:20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
    color: #000;
  }
  
  .form-container .active{
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    width: 400px;
    font-size: 20px;
    display:block;

    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
    color: #080807;
    letter-spacing: 2px;
    font-weight: bold;
  }
  
  .form-container .active:hover{
    background-color: rgba(255,255,255,0.2);
    transition: all 0.3s;
  }
  .logo{
    margin-bottom: 10px;
    font-family: 'Bungee Inline', cursive;
  }



.login__input {
	color: white;
	font-size: 1.15rem;
	width: 100%;
	padding: .5rem 1rem;
	border: 2px solid whitesmoke;
	outline: none;
	border-radius: 1.5rem;
	background-color: rgba(255, 255, 255, 0.25);
	letter-spacing: 1px;
}

.login__input:hover,
.login__input:focus{
	color: white;
	border: 2px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
}


*{
    font-family: 'Audiowide', cursive;
}