

.top-nav{
    background-color: dodgerblue;
    height: 40px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 5px #888888;
    z-index: 10;
    text-align: center;
}
.top-nav li{
    display: inline;
}
.nav-content{
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    padding: 5px;
    font-family: 'Audiowide', cursive;
    font-size: 20px;
}
.side-nav{
    margin-top: 40px;
    height: 100%;
    width: 40px;
    background-color: #1a1818;
    position: fixed;
    padding-top: 20px;
    box-shadow: 5px 5px 5px #0f0f0f;
    font-family: 'Audiowide', cursive;
    border-right: 1px solid dodgerblue;
}
.title{
    font-family: 'Bungee Inline', cursive;
    float: left;
    font-size: 24px;
    margin: 0;
}
.side-ul{
    color: darkgray;
    margin: auto;
    text-align: center;
    list-style: none;
    font-size: 25px;
    font-family: 'Audiowide', cursive;
    position: relative;
}

.side-ul :hover, .selected{
    color: blanchedalmond;
    font-size: 45px;
}

.side-ul .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #e3fa73;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    font-size: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 9999;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .side-ul:hover .tooltiptext {
    visibility: visible;
  }
  .tooltiptext {
    border: 1px solid black;
  }
  .wrapper{
      background-color: #131212;
      height: 100%;
      width: 100%;
  }
.problem{
    margin-top: 50px;
    margin-left: 46px;
    height: 91vh;
    width: 40%;
    position: fixed;
    background: ghostwhite;
    border-radius: 10px;
    z-index: 1;
}
.right-tab{
    position: fixed;
    margin-left: 46%;
    height: 91vh;
    background: #131212;
    margin-top: 50px;
    width: 53vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.top-right{
    width: 100%;
    height: 30px;
    background: #52524f;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #888888;
    padding-bottom: 5px;
    font-size: 14px;
    padding-top: 5px;
    border: 1px solid dodgerblue;
}

.code{
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    appearance: none;
    width: 150px;
    text-align: center;
}
.code  option{
    color: black;
}
.code-header{
    color: white;
    float: right;
    margin-right: 25px;
    font-family: 'Audiowide', cursive;
}
.theme-header{
    color: white;
    float: left;
    margin-left: 25px;
    font-family: 'Audiowide', cursive;
}
