@import url('https://fonts.googleapis.com/css?family=Audiowide|Bungee+Inline&display=swap');

/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}